<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bcsd.project.mapper.OrderDrugMapper" >
  <resultMap id="BaseResultMap" type="com.bcsd.project.domain.OrderDrug" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="hospital_drug_id" property="hospitalDrugId" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, hospital_drug_id,order_id, order_number, create_by, create_time, update_by, update_time
  </sql>

  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from order_drug
    where order_id = #{orderId,jdbcType=INTEGER}
  </select>


  <select id="selectListByOrderId" resultType="com.bcsd.project.domain.vo.OrderDrugVO" parameterType="integer">
    select t1.*,(SELECT IFNULL(sum(t4.delivery_number),'0') FROM order_logistics_drug t4 WHERE t1.hospital_drug_id = t4.hospital_drug_id AND t1.order_id = t4.order_id) as completedNumber,
           t2.name as hospitalDrugName,t2.code as hospitalDrugCode,t2.manufacturer,t3.name as deliveryDrugName,
           t3.code as deliveryDrugCode,t2.specifications,t2.packaging_specifications as packagingSpecifications
    from order_drug t1 left join hospital_drug t2 on t1.hospital_drug_id = t2.id
    left join delivery_drug t3 on t2.delivery_id = t3.id
    where t1.order_id = #{orderId,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_drug
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_drug
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.bcsd.project.domain.OrderDrug" >
    insert into order_drug
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="hospitalDrugId != null" >
        hospital_drug_id,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="hospitalDrugId != null" >
        #{hospitalDrugId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <insert id="insertOrderDrugList" parameterType="list" >
    insert into order_drug
        (order_id,hospital_drug_id,order_number,create_by,create_time)
    values
    <foreach collection="records" item="item" index="index" separator=",">
      (
      #{item.orderId,jdbcType=INTEGER}, #{item.hospitalDrugId,jdbcType=INTEGER}, #{item.orderNumber,jdbcType=INTEGER},
      #{item.createBy,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.bcsd.project.domain.OrderDrug" >
    update order_drug
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="hospitalDrugId != null" >
        hospital_drug_id = #{hospitalDrugId,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteByOrderId" parameterType="java.lang.Integer" >
    delete from order_drug
    where order_id = #{orderId,jdbcType=INTEGER}
  </delete>
</mapper>